<a href="/" class="home-link" aria-label="Go to home">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
    <polyline points="9 22 9 12 15 12 15 22"/>
  </svg>
</a>

<style>
  .home-link {
    display: inline-flex;
    align-items: center;
    color: var(--text);
    opacity: 0.8;
    text-decoration: none;
    transition: opacity var(--transition-fast);
  }

  .home-link:hover {
    opacity: 1;
  }

  .home-link svg {
    width: 1.5rem;
    height: 1.5rem;
  }
</style> 