---
import '../styles/global.css';
import Analytics from '@vercel/analytics/astro';
import ThemeInit from '../components/ThemeInit.astro';
import ThemeToggle from '../components/ThemeToggle.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <ThemeInit />
  </head>
  <body>
    <ThemeToggle />
    <slot />
    <Analytics />
  </body>
</html>
